<a href="https://colab.research.google.com/github/pritam17/MyProject1/blob/master/2_1_CNN_with_Keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install python-mnist

Collecting python-mnist
  Downloading https://files.pythonhosted.org/packages/05/9c/f1c1e4d011b01ac436bba0ac6715b3f988bb7f8fec6f21f89cf820aa33e1/python-mnist-0.6.tar.gz
Building wheels for collected packages: python-mnist
  Building wheel for python-mnist (setup.py) ... done
  Created wheel for python-mnist: filename=python_mnist-0.6-py2.py3-none-any.whl size=11662 sha256=620bf3a2fc15409cccc6c2313dd765a6552c9cc4a96d6a08b9c7701bb00e564c
  Stored in directory: /root/.cache/pip/wheels/28/29/36/408f83545a511c43d03ef997a1dc99b49ccd5f9f306ed92468
Successfully built python-mnist
Installing collected packages: python-mnist
Successfully installed python-mnist-0.6

In [2]:
!wget 'https://www.dropbox.com/s/8smiyrivs3seqzn/mnist_data.zip' /mnist_data.zip
!unzip '/content/mnist_data.zip' -d'/content/'

--2019-12-22 12:24:16--  https://www.dropbox.com/s/8smiyrivs3seqzn/mnist_data.zip
Resolving www.dropbox.com (www.dropbox.com)... 162.125.65.1, 2620:100:6021:1::a27d:4101
Connecting to www.dropbox.com (www.dropbox.com)|162.125.65.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/8smiyrivs3seqzn/mnist_data.zip [following]
--2019-12-22 12:24:17--  https://www.dropbox.com/s/raw/8smiyrivs3seqzn/mnist_data.zip
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com/cd/0/inline/AutJzv0TFNYbNbInJAI2KvBbzhHrlP3BtCUe-sJonXCBhlDSb4Trsmxw4ZlRXE_PucIYoac6pGSKc_oll4BECKyKDq0_iS1S21wkLP1yZvnyig/file# [following]
--2019-12-22 12:24:17--  https://ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com/cd/0/inline/AutJzv0TFNYbNbInJAI2KvBbzhHrlP3BtCUe-sJonXCBhlDSb4Trsmxw4ZlRXE_PucIYoac6pGSKc_oll4BECKyKDq0_iS1S21wkLP1yZvnyig/file
Resolving ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com (ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com)... 162.125.65.6, 2620:100:6021:6::a27d:4106
Connecting to ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com (ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com)|162.125.65.6|:443... connected.
HTTP request sent, awaiting response... 302 FOUND
Location: /cd/0/inline2/AuuFs1K9RwjJgnWUl7Up19syUVxTNTSh_MP33_lQKOQlfv8jNtt4l2iPdXGhew5eCWqjeE6a8DadFFijeqG9Yp3iwcP5wIoD5M9gZlErBNj3ve_ZmEgOxP-YZRJLUiuG-rlndlXqTQf8MFPWRiIRl440l84agXTU_UGcNwg3gcCtsW0PMEKh9xF0OpCA5UnNBmm7s6g26f6QjGetNKqSZMbSW16V1e5d1KNlLOi5iUSHPvzldvvEkS9iDGbWdjCUwZUmftwidWkEOnboZ0Zr9yb9PBTdozWnNIZyy0oz_THtUig3UBDJTc6HFMwBMfK0MKqk7J-5EJcYiE2tBCoozApq/file [following]
--2019-12-22 12:24:18--  https://ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com/cd/0/inline2/AuuFs1K9RwjJgnWUl7Up19syUVxTNTSh_MP33_lQKOQlfv8jNtt4l2iPdXGhew5eCWqjeE6a8DadFFijeqG9Yp3iwcP5wIoD5M9gZlErBNj3ve_ZmEgOxP-YZRJLUiuG-rlndlXqTQf8MFPWRiIRl440l84agXTU_UGcNwg3gcCtsW0PMEKh9xF0OpCA5UnNBmm7s6g26f6QjGetNKqSZMbSW16V1e5d1KNlLOi5iUSHPvzldvvEkS9iDGbWdjCUwZUmftwidWkEOnboZ0Zr9yb9PBTdozWnNIZyy0oz_THtUig3UBDJTc6HFMwBMfK0MKqk7J-5EJcYiE2tBCoozApq/file
Reusing existing connection to ucfba4720b73616c6febfc3041a9.dl.dropboxusercontent.com:443.
HTTP request sent, awaiting response... 200 OK
Length: 11490497 (11M) [application/zip]
Saving to: ‘mnist_data.zip’

mnist_data.zip      100%[===================>]  10.96M  5.93MB/s    in 1.8s

2019-12-22 12:24:20 (5.93 MB/s) - ‘mnist_data.zip’ saved [11490497/11490497]

/mnist_data.zip: Scheme missing.
FINISHED --2019-12-22 12:24:20--
Total wall clock time: 3.8s
Downloaded: 1 files, 11M in 1.8s (5.93 MB/s)
Archive:  /content/mnist_data.zip
   creating: /content/mnist_data/
  inflating: /content/mnist_data/t10k-images-idx3-ubyte
  inflating: /content/mnist_data/t10k-labels-idx1-ubyte
  inflating: /content/mnist_data/train-images-idx3-ubyte
  inflating: /content/mnist_data/train-labels-idx1-ubyte

In [0]:
import warnings
warnings.filterwarnings('ignore')
from mnist import MNIST
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

mndata = MNIST(r'/content/mnist_data')
images_train, labels_train = mndata.load_training()
images_test,labels_test=mndata.load_testing()
labels_train=np.array(labels_train).reshape(-1,1)
labels_test=np.array(labels_test).reshape(-1,1)


onehot=OneHotEncoder()

onehot.fit(labels_train)

labels_train=onehot.transform(labels_train)
labels_test=onehot.transform(labels_test)
labels_train=labels_train.toarray()
labels_test=labels_test.toarray()

images_train=np.array(images_train).reshape(60000,784)/255
images_test=np.array(images_test).reshape(10000,784)/255

images_train=images_train.reshape(60000,  28, 28,1).astype('float32')
images_test=images_test.reshape(10000, 28, 28,1).astype('float32')

In [4]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D

Using TensorFlow backend.

In [5]:
model = Sequential()
model.add(Conv2D(32, (5, 5), input_shape=( 28, 28,1), activation='relu',
                 padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(64, (5, 5),activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Flatten())
model.add(Dense(1024, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(200, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(10, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', 
              metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [6]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 28, 28, 32)        832
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 14, 14, 32)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 14, 14, 64)        51264
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 7, 7, 64)          0
_________________________________________________________________
flatten_1 (Flatten)          (None, 3136)              0
_________________________________________________________________
dense_1 (Dense)              (None, 1024)              3212288
_________________________________________________________________
dropout_1 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_2 (Dense)              (None, 200)               205000
_________________________________________________________________
dropout_2 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                2010
=================================================================
Total params: 3,471,394
Trainable params: 3,471,394
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.fit(images_train, labels_train, validation_data=(images_test, labels_test),
          epochs=5, batch_size=50, verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 60000 samples, validate on 10000 samples
Epoch 1/5
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

60000/60000 [==============================] - 209s 3ms/step - loss: 0.1220 - acc: 0.9618 - val_loss: 0.0380 - val_acc: 0.9875
Epoch 2/5
 4450/60000 [=>............................] - ETA: 3:06 - loss: 0.0394 - acc: 0.9892

In [0]:
p=model.predict(images_test)

In [0]:
p

array([[7.1266188e-14, 9.0066461e-09, 6.0849441e-09, ..., 9.9999976e-01,
        1.0092087e-11, 2.9585541e-07],
       [8.1327549e-11, 5.3384612e-09, 1.0000000e+00, ..., 3.2053102e-10,
        6.6881667e-10, 2.4337574e-12],
       [2.0640982e-11, 1.0000000e+00, 5.8407146e-10, ..., 2.1684514e-08,
        3.0032596e-09, 8.5673538e-11],
       ...,
       [1.1291619e-14, 2.0239455e-09, 8.0500606e-12, ..., 1.8121725e-11,
        3.5110286e-11, 1.2329803e-08],
       [3.8222703e-11, 7.8944178e-11, 1.4534000e-13, ..., 1.2582323e-10,
        1.2682664e-08, 3.5410521e-09],
       [5.0955111e-09, 4.5975970e-11, 2.8759467e-10, ..., 1.6172493e-14,
        1.5176297e-09, 1.1159207e-12]], dtype=float32)

In [0]:
labels_test_predicted=np.argmax(p,1)

In [0]:
labels_test_predicted

array([7, 2, 1, ..., 4, 5, 6])

In [0]:
# first argument to pd.crosstab goes to rows, second to columns
# row_0 : real labels
# col_0 : predicted labels
pd.crosstab(np.argmax(labels_test,axis=1),labels_test_predicted)

col_0    0     1     2     3    4    5    6     7    8    9
row_0
0      977     0     0     0    0    0    1     1    0    1
1        1  1129     0     4    0    0    1     0    0    0
2        1     1  1027     1    0    0    0     2    0    0
3        0     0     0  1010    0    0    0     0    0    0
4        0     3     1     0  961    0    3     1    1   12
5        0     0     0    16    0  869    5     1    0    1
6        1     2     0     0    0    0  954     0    1    0
7        0     1     7     0    0    0    0  1019    0    1
8        3     0     2     2    0    1    0     0  966    0
9        0     0     0     5    3    1    0     2    6  992