<a href="https://colab.research.google.com/github/pritam17/MyProject1/blob/master/Deep_FFN_with_TF_2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
%tensorflow_version 2.x

In [0]:
import numpy as np
import tensorflow as tf
import pandas as pd

In [0]:
x1=np.random.randint(1,30,200000)
x2=np.random.randint(1,30,200000)
x=pd.DataFrame({'x1':x1,'x2':x2})
y=4+2*x1+3*x2+3*np.random.random(200000)

In [0]:
x

        x1  x2
0       16  20
1        5   4
2       29  27
3       17  15
4       27  18
...     ..  ..
199995  21   8
199996  10  16
199997  15  28
199998  19  11
199999  24  29

[200000 rows x 2 columns]

In [0]:
class preds:
    def __init__(self):
        self.w1=tf.Variable(0.0)
        self.w2=tf.Variable(0.0)
        self.b=tf.Variable(0.0)
    
    def __call__(self,x):
        result=self.w1*x.iloc[:,0]+self.w2*x.iloc[:,1]+self.b
        return(result)

In [0]:
model=preds()

In [0]:
model(x)

In [0]:
model(x).numpy()

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

In [0]:
def loss(predicted_y, target_y):
    return tf.reduce_mean(tf.square(predicted_y - target_y))

In [0]:
def train(model, inputs, outputs, learning_rate):
    with tf.GradientTape() as t:
        current_loss = loss(model(inputs), outputs)
    dw1,dw2, db = t.gradient(current_loss, [model.w1,model.w2, model.b])
    model.w1.assign_sub(learning_rate * dw1)
    model.w2.assign_sub(learning_rate * dw2)
    model.b.assign_sub(learning_rate * db)

In [0]:
model = preds()

# Collect the history of W-values and b-values to plot later
w1s,w2s, bs = [], [],[]

epochs = range(500)
for epoch in epochs:
      for j in range(0,np.int(x.shape[0]/100),100):
        inputs=x.iloc[j:j+100,:]
        outputs=y[j:j+100]
        train(model, inputs, outputs, learning_rate=0.001)
      w1s.append(model.w1.numpy())
      w2s.append(model.w2.numpy())
      bs.append(model.b.numpy())
    
    # rand_ind=np.random.choice(range(x.shape[0]),100)
    # outputs=y[rand_ind]
    # inputs=x.iloc[rand_ind,:]
    
      current_loss = loss(model(inputs), outputs)

    
      print('Epoch %2d: W1=%1.2f W2=%1.2f b=%1.2f, loss=%2.5f' %
          (epoch, w1s[-1],w2s[-1], bs[-1], current_loss))

Epoch  0: W1=2.17 W2=3.12 b=0.19, loss=3.90081
Epoch  1: W1=2.15 W2=3.14 b=0.22, loss=3.93219
Epoch  2: W1=2.15 W2=3.14 b=0.25, loss=3.90050
Epoch  3: W1=2.15 W2=3.14 b=0.27, loss=3.86392
Epoch  4: W1=2.15 W2=3.14 b=0.30, loss=3.82750
Epoch  5: W1=2.15 W2=3.14 b=0.33, loss=3.79147
Epoch  6: W1=2.15 W2=3.14 b=0.36, loss=3.75584
Epoch  7: W1=2.15 W2=3.14 b=0.39, loss=3.72061
Epoch  8: W1=2.15 W2=3.14 b=0.42, loss=3.68578
Epoch  9: W1=2.15 W2=3.13 b=0.45, loss=3.65133
Epoch 10: W1=2.14 W2=3.13 b=0.47, loss=3.61726
Epoch 11: W1=2.14 W2=3.13 b=0.50, loss=3.58358
Epoch 12: W1=2.14 W2=3.13 b=0.53, loss=3.55027
Epoch 13: W1=2.14 W2=3.13 b=0.56, loss=3.51733
Epoch 14: W1=2.14 W2=3.13 b=0.58, loss=3.48477
Epoch 15: W1=2.14 W2=3.13 b=0.61, loss=3.45256
Epoch 16: W1=2.14 W2=3.13 b=0.64, loss=3.42071
Epoch 17: W1=2.14 W2=3.13 b=0.66, loss=3.38922
Epoch 18: W1=2.14 W2=3.13 b=0.69, loss=3.35808
Epoch 19: W1=2.14 W2=3.13 b=0.72, loss=3.32728
Epoch 20: W1=2.14 W2=3.13 b=0.74, loss=3.29684
Epoch 21: W1=2.14 W2=3.13 b=0.77, loss=3.26673
Epoch 22: W1=2.14 W2=3.13 b=0.80, loss=3.23696
Epoch 23: W1=2.13 W2=3.12 b=0.82, loss=3.20752
Epoch 24: W1=2.13 W2=3.12 b=0.85, loss=3.17841
Epoch 25: W1=2.13 W2=3.12 b=0.87, loss=3.14962
Epoch 26: W1=2.13 W2=3.12 b=0.90, loss=3.12116
Epoch 27: W1=2.13 W2=3.12 b=0.92, loss=3.09301
Epoch 28: W1=2.13 W2=3.12 b=0.95, loss=3.06518
Epoch 29: W1=2.13 W2=3.12 b=0.98, loss=3.03766
Epoch 30: W1=2.13 W2=3.12 b=1.00, loss=3.01044
Epoch 31: W1=2.13 W2=3.12 b=1.02, loss=2.98353
Epoch 32: W1=2.13 W2=3.12 b=1.05, loss=2.95693
Epoch 33: W1=2.13 W2=3.12 b=1.07, loss=2.93061
Epoch 34: W1=2.13 W2=3.12 b=1.10, loss=2.90459
Epoch 35: W1=2.13 W2=3.12 b=1.12, loss=2.87887
Epoch 36: W1=2.13 W2=3.12 b=1.15, loss=2.85343
Epoch 37: W1=2.12 W2=3.11 b=1.17, loss=2.82828
Epoch 38: W1=2.12 W2=3.11 b=1.19, loss=2.80341
Epoch 39: W1=2.12 W2=3.11 b=1.22, loss=2.77881
Epoch 40: W1=2.12 W2=3.11 b=1.24, loss=2.75449
Epoch 41: W1=2.12 W2=3.11 b=1.27, loss=2.73045
Epoch 42: W1=2.12 W2=3.11 b=1.29, loss=2.70666
Epoch 43: W1=2.12 W2=3.11 b=1.31, loss=2.68315
Epoch 44: W1=2.12 W2=3.11 b=1.34, loss=2.65990
Epoch 45: W1=2.12 W2=3.11 b=1.36, loss=2.63691
Epoch 46: W1=2.12 W2=3.11 b=1.38, loss=2.61418
Epoch 47: W1=2.12 W2=3.11 b=1.40, loss=2.59170
Epoch 48: W1=2.12 W2=3.11 b=1.43, loss=2.56948
Epoch 49: W1=2.12 W2=3.11 b=1.45, loss=2.54751
Epoch 50: W1=2.12 W2=3.11 b=1.47, loss=2.52577
Epoch 51: W1=2.12 W2=3.11 b=1.49, loss=2.50429
Epoch 52: W1=2.11 W2=3.11 b=1.52, loss=2.48304
Epoch 53: W1=2.11 W2=3.10 b=1.54, loss=2.46203
Epoch 54: W1=2.11 W2=3.10 b=1.56, loss=2.44125
Epoch 55: W1=2.11 W2=3.10 b=1.58, loss=2.42071
Epoch 56: W1=2.11 W2=3.10 b=1.60, loss=2.40040
Epoch 57: W1=2.11 W2=3.10 b=1.62, loss=2.38032
Epoch 58: W1=2.11 W2=3.10 b=1.65, loss=2.36046
Epoch 59: W1=2.11 W2=3.10 b=1.67, loss=2.34083
Epoch 60: W1=2.11 W2=3.10 b=1.69, loss=2.32142
Epoch 61: W1=2.11 W2=3.10 b=1.71, loss=2.30222
Epoch 62: W1=2.11 W2=3.10 b=1.73, loss=2.28323
Epoch 63: W1=2.11 W2=3.10 b=1.75, loss=2.26447
Epoch 64: W1=2.11 W2=3.10 b=1.77, loss=2.24591
Epoch 65: W1=2.11 W2=3.10 b=1.79, loss=2.22756
Epoch 66: W1=2.11 W2=3.10 b=1.81, loss=2.20941
Epoch 67: W1=2.11 W2=3.10 b=1.83, loss=2.19147
Epoch 68: W1=2.11 W2=3.10 b=1.85, loss=2.17373
Epoch 69: W1=2.10 W2=3.10 b=1.87, loss=2.15619
Epoch 70: W1=2.10 W2=3.10 b=1.89, loss=2.13885
Epoch 71: W1=2.10 W2=3.09 b=1.91, loss=2.12170
Epoch 72: W1=2.10 W2=3.09 b=1.93, loss=2.10474
Epoch 73: W1=2.10 W2=3.09 b=1.95, loss=2.08798
Epoch 74: W1=2.10 W2=3.09 b=1.97, loss=2.07140
Epoch 75: W1=2.10 W2=3.09 b=1.99, loss=2.05501
Epoch 76: W1=2.10 W2=3.09 b=2.01, loss=2.03880
Epoch 77: W1=2.10 W2=3.09 b=2.03, loss=2.02277
Epoch 78: W1=2.10 W2=3.09 b=2.05, loss=2.00693
Epoch 79: W1=2.10 W2=3.09 b=2.07, loss=1.99126
Epoch 80: W1=2.10 W2=3.09 b=2.09, loss=1.97577
Epoch 81: W1=2.10 W2=3.09 b=2.11, loss=1.96045
Epoch 82: W1=2.10 W2=3.09 b=2.13, loss=1.94531
Epoch 83: W1=2.10 W2=3.09 b=2.14, loss=1.93033
Epoch 84: W1=2.10 W2=3.09 b=2.16, loss=1.91553
Epoch 85: W1=2.10 W2=3.09 b=2.18, loss=1.90089
Epoch 86: W1=2.10 W2=3.09 b=2.20, loss=1.88642
Epoch 87: W1=2.09 W2=3.09 b=2.22, loss=1.87211
Epoch 88: W1=2.09 W2=3.09 b=2.24, loss=1.85795
Epoch 89: W1=2.09 W2=3.09 b=2.25, loss=1.84396
Epoch 90: W1=2.09 W2=3.08 b=2.27, loss=1.83013
Epoch 91: W1=2.09 W2=3.08 b=2.29, loss=1.81644
Epoch 92: W1=2.09 W2=3.08 b=2.31, loss=1.80292
Epoch 93: W1=2.09 W2=3.08 b=2.33, loss=1.78955
Epoch 94: W1=2.09 W2=3.08 b=2.34, loss=1.77633
Epoch 95: W1=2.09 W2=3.08 b=2.36, loss=1.76326
Epoch 96: W1=2.09 W2=3.08 b=2.38, loss=1.75033
Epoch 97: W1=2.09 W2=3.08 b=2.39, loss=1.73755
Epoch 98: W1=2.09 W2=3.08 b=2.41, loss=1.72492
Epoch 99: W1=2.09 W2=3.08 b=2.43, loss=1.71242
Epoch 100: W1=2.09 W2=3.08 b=2.45, loss=1.70007
Epoch 101: W1=2.09 W2=3.08 b=2.46, loss=1.68786
Epoch 102: W1=2.09 W2=3.08 b=2.48, loss=1.67578
Epoch 103: W1=2.09 W2=3.08 b=2.50, loss=1.66384
Epoch 104: W1=2.09 W2=3.08 b=2.51, loss=1.65204
Epoch 105: W1=2.09 W2=3.08 b=2.53, loss=1.64037
Epoch 106: W1=2.09 W2=3.08 b=2.55, loss=1.62883
Epoch 107: W1=2.08 W2=3.08 b=2.56, loss=1.61742
Epoch 108: W1=2.08 W2=3.08 b=2.58, loss=1.60614
Epoch 109: W1=2.08 W2=3.08 b=2.59, loss=1.59498
Epoch 110: W1=2.08 W2=3.08 b=2.61, loss=1.58395
Epoch 111: W1=2.08 W2=3.08 b=2.63, loss=1.57305
Epoch 112: W1=2.08 W2=3.07 b=2.64, loss=1.56227
Epoch 113: W1=2.08 W2=3.07 b=2.66, loss=1.55161
Epoch 114: W1=2.08 W2=3.07 b=2.67, loss=1.54108
Epoch 115: W1=2.08 W2=3.07 b=2.69, loss=1.53066
Epoch 116: W1=2.08 W2=3.07 b=2.71, loss=1.52036
Epoch 117: W1=2.08 W2=3.07 b=2.72, loss=1.51017
Epoch 118: W1=2.08 W2=3.07 b=2.74, loss=1.50010
Epoch 119: W1=2.08 W2=3.07 b=2.75, loss=1.49015
Epoch 120: W1=2.08 W2=3.07 b=2.77, loss=1.48030
Epoch 121: W1=2.08 W2=3.07 b=2.78, loss=1.47057
Epoch 122: W1=2.08 W2=3.07 b=2.80, loss=1.46095
Epoch 123: W1=2.08 W2=3.07 b=2.81, loss=1.45144
Epoch 124: W1=2.08 W2=3.07 b=2.83, loss=1.44203
Epoch 125: W1=2.08 W2=3.07 b=2.84, loss=1.43273
Epoch 126: W1=2.08 W2=3.07 b=2.86, loss=1.42354
Epoch 127: W1=2.08 W2=3.07 b=2.87, loss=1.41445
Epoch 128: W1=2.08 W2=3.07 b=2.88, loss=1.40547
Epoch 129: W1=2.08 W2=3.07 b=2.90, loss=1.39658
Epoch 130: W1=2.07 W2=3.07 b=2.91, loss=1.38780
Epoch 131: W1=2.07 W2=3.07 b=2.93, loss=1.37911
Epoch 132: W1=2.07 W2=3.07 b=2.94, loss=1.37053
Epoch 133: W1=2.07 W2=3.07 b=2.96, loss=1.36204
Epoch 134: W1=2.07 W2=3.07 b=2.97, loss=1.35365
Epoch 135: W1=2.07 W2=3.07 b=2.98, loss=1.34535
Epoch 136: W1=2.07 W2=3.06 b=3.00, loss=1.33714
Epoch 137: W1=2.07 W2=3.06 b=3.01, loss=1.32903
Epoch 138: W1=2.07 W2=3.06 b=3.03, loss=1.32102
Epoch 139: W1=2.07 W2=3.06 b=3.04, loss=1.31309
Epoch 140: W1=2.07 W2=3.06 b=3.05, loss=1.30525
Epoch 141: W1=2.07 W2=3.06 b=3.07, loss=1.29751
Epoch 142: W1=2.07 W2=3.06 b=3.08, loss=1.28985
Epoch 143: W1=2.07 W2=3.06 b=3.09, loss=1.28227
Epoch 144: W1=2.07 W2=3.06 b=3.11, loss=1.27478
Epoch 145: W1=2.07 W2=3.06 b=3.12, loss=1.26738
Epoch 146: W1=2.07 W2=3.06 b=3.13, loss=1.26006
Epoch 147: W1=2.07 W2=3.06 b=3.15, loss=1.25283
Epoch 148: W1=2.07 W2=3.06 b=3.16, loss=1.24568
Epoch 149: W1=2.07 W2=3.06 b=3.17, loss=1.23861
Epoch 150: W1=2.07 W2=3.06 b=3.19, loss=1.23161
Epoch 151: W1=2.07 W2=3.06 b=3.20, loss=1.22470
Epoch 152: W1=2.07 W2=3.06 b=3.21, loss=1.21787
Epoch 153: W1=2.07 W2=3.06 b=3.22, loss=1.21111
Epoch 154: W1=2.07 W2=3.06 b=3.24, loss=1.20444
Epoch 155: W1=2.07 W2=3.06 b=3.25, loss=1.19784
Epoch 156: W1=2.06 W2=3.06 b=3.26, loss=1.19131
Epoch 157: W1=2.06 W2=3.06 b=3.27, loss=1.18486
Epoch 158: W1=2.06 W2=3.06 b=3.29, loss=1.17848
Epoch 159: W1=2.06 W2=3.06 b=3.30, loss=1.17217
Epoch 160: W1=2.06 W2=3.06 b=3.31, loss=1.16593
Epoch 161: W1=2.06 W2=3.06 b=3.32, loss=1.15978
Epoch 162: W1=2.06 W2=3.06 b=3.33, loss=1.15368
Epoch 163: W1=2.06 W2=3.06 b=3.35, loss=1.14766
Epoch 164: W1=2.06 W2=3.05 b=3.36, loss=1.14170
Epoch 165: W1=2.06 W2=3.05 b=3.37, loss=1.13582
Epoch 166: W1=2.06 W2=3.05 b=3.38, loss=1.13000
Epoch 167: W1=2.06 W2=3.05 b=3.39, loss=1.12424
Epoch 168: W1=2.06 W2=3.05 b=3.41, loss=1.11856
Epoch 169: W1=2.06 W2=3.05 b=3.42, loss=1.11293
Epoch 170: W1=2.06 W2=3.05 b=3.43, loss=1.10737
Epoch 171: W1=2.06 W2=3.05 b=3.44, loss=1.10188
Epoch 172: W1=2.06 W2=3.05 b=3.45, loss=1.09644
Epoch 173: W1=2.06 W2=3.05 b=3.46, loss=1.09108
Epoch 174: W1=2.06 W2=3.05 b=3.47, loss=1.08577
Epoch 175: W1=2.06 W2=3.05 b=3.49, loss=1.08052
Epoch 176: W1=2.06 W2=3.05 b=3.50, loss=1.07533
Epoch 177: W1=2.06 W2=3.05 b=3.51, loss=1.07020
Epoch 178: W1=2.06 W2=3.05 b=3.52, loss=1.06513
Epoch 179: W1=2.06 W2=3.05 b=3.53, loss=1.06012
Epoch 180: W1=2.06 W2=3.05 b=3.54, loss=1.05517
Epoch 181: W1=2.06 W2=3.05 b=3.55, loss=1.05027
Epoch 182: W1=2.06 W2=3.05 b=3.56, loss=1.04543
Epoch 183: W1=2.06 W2=3.05 b=3.57, loss=1.04064
Epoch 184: W1=2.06 W2=3.05 b=3.58, loss=1.03591
Epoch 185: W1=2.06 W2=3.05 b=3.59, loss=1.03123
Epoch 186: W1=2.05 W2=3.05 b=3.60, loss=1.02661
Epoch 187: W1=2.05 W2=3.05 b=3.62, loss=1.02204
Epoch 188: W1=2.05 W2=3.05 b=3.63, loss=1.01752
Epoch 189: W1=2.05 W2=3.05 b=3.64, loss=1.01305
Epoch 190: W1=2.05 W2=3.05 b=3.65, loss=1.00864
Epoch 191: W1=2.05 W2=3.05 b=3.66, loss=1.00427
Epoch 192: W1=2.05 W2=3.05 b=3.67, loss=0.99996
Epoch 193: W1=2.05 W2=3.05 b=3.68, loss=0.99570
Epoch 194: W1=2.05 W2=3.05 b=3.69, loss=0.99148
Epoch 195: W1=2.05 W2=3.05 b=3.70, loss=0.98732
Epoch 196: W1=2.05 W2=3.05 b=3.71, loss=0.98320
Epoch 197: W1=2.05 W2=3.05 b=3.72, loss=0.97912
Epoch 198: W1=2.05 W2=3.04 b=3.73, loss=0.97510
Epoch 199: W1=2.05 W2=3.04 b=3.74, loss=0.97112
Epoch 200: W1=2.05 W2=3.04 b=3.75, loss=0.96719
Epoch 201: W1=2.05 W2=3.04 b=3.76, loss=0.96330
Epoch 202: W1=2.05 W2=3.04 b=3.77, loss=0.95946
Epoch 203: W1=2.05 W2=3.04 b=3.78, loss=0.95566
Epoch 204: W1=2.05 W2=3.04 b=3.79, loss=0.95191
Epoch 205: W1=2.05 W2=3.04 b=3.79, loss=0.94819
Epoch 206: W1=2.05 W2=3.04 b=3.80, loss=0.94452
Epoch 207: W1=2.05 W2=3.04 b=3.81, loss=0.94090
Epoch 208: W1=2.05 W2=3.04 b=3.82, loss=0.93731
Epoch 209: W1=2.05 W2=3.04 b=3.83, loss=0.93377
Epoch 210: W1=2.05 W2=3.04 b=3.84, loss=0.93027
Epoch 211: W1=2.05 W2=3.04 b=3.85, loss=0.92681
Epoch 212: W1=2.05 W2=3.04 b=3.86, loss=0.92338
Epoch 213: W1=2.05 W2=3.04 b=3.87, loss=0.92000
Epoch 214: W1=2.05 W2=3.04 b=3.88, loss=0.91666
Epoch 215: W1=2.05 W2=3.04 b=3.89, loss=0.91335
Epoch 216: W1=2.05 W2=3.04 b=3.90, loss=0.91009
Epoch 217: W1=2.05 W2=3.04 b=3.90, loss=0.90686
Epoch 218: W1=2.05 W2=3.04 b=3.91, loss=0.90367
Epoch 219: W1=2.05 W2=3.04 b=3.92, loss=0.90051
Epoch 220: W1=2.05 W2=3.04 b=3.93, loss=0.89739
Epoch 221: W1=2.05 W2=3.04 b=3.94, loss=0.89432
Epoch 222: W1=2.04 W2=3.04 b=3.95, loss=0.89127
Epoch 223: W1=2.04 W2=3.04 b=3.96, loss=0.88826
Epoch 224: W1=2.04 W2=3.04 b=3.97, loss=0.88528
Epoch 225: W1=2.04 W2=3.04 b=3.97, loss=0.88234
Epoch 226: W1=2.04 W2=3.04 b=3.98, loss=0.87944
Epoch 227: W1=2.04 W2=3.04 b=3.99, loss=0.87656
Epoch 228: W1=2.04 W2=3.04 b=4.00, loss=0.87372
Epoch 229: W1=2.04 W2=3.04 b=4.01, loss=0.87092
Epoch 230: W1=2.04 W2=3.04 b=4.02, loss=0.86814
Epoch 231: W1=2.04 W2=3.04 b=4.02, loss=0.86540
Epoch 232: W1=2.04 W2=3.04 b=4.03, loss=0.86269
Epoch 233: W1=2.04 W2=3.04 b=4.04, loss=0.86001
Epoch 234: W1=2.04 W2=3.04 b=4.05, loss=0.85736
Epoch 235: W1=2.04 W2=3.04 b=4.06, loss=0.85474
Epoch 236: W1=2.04 W2=3.04 b=4.06, loss=0.85216
Epoch 237: W1=2.04 W2=3.04 b=4.07, loss=0.84960
Epoch 238: W1=2.04 W2=3.04 b=4.08, loss=0.84707
Epoch 239: W1=2.04 W2=3.03 b=4.09, loss=0.84458
Epoch 240: W1=2.04 W2=3.03 b=4.10, loss=0.84211
Epoch 241: W1=2.04 W2=3.03 b=4.10, loss=0.83967
Epoch 242: W1=2.04 W2=3.03 b=4.11, loss=0.83726
Epoch 243: W1=2.04 W2=3.03 b=4.12, loss=0.83488
Epoch 244: W1=2.04 W2=3.03 b=4.13, loss=0.83252
Epoch 245: W1=2.04 W2=3.03 b=4.13, loss=0.83020
Epoch 246: W1=2.04 W2=3.03 b=4.14, loss=0.82790
Epoch 247: W1=2.04 W2=3.03 b=4.15, loss=0.82562
Epoch 248: W1=2.04 W2=3.03 b=4.16, loss=0.82338
Epoch 249: W1=2.04 W2=3.03 b=4.16, loss=0.82116
Epoch 250: W1=2.04 W2=3.03 b=4.17, loss=0.81896
Epoch 251: W1=2.04 W2=3.03 b=4.18, loss=0.81679
Epoch 252: W1=2.04 W2=3.03 b=4.19, loss=0.81465
Epoch 253: W1=2.04 W2=3.03 b=4.19, loss=0.81253
Epoch 254: W1=2.04 W2=3.03 b=4.20, loss=0.81044
Epoch 255: W1=2.04 W2=3.03 b=4.21, loss=0.80837
Epoch 256: W1=2.04 W2=3.03 b=4.22, loss=0.80633
Epoch 257: W1=2.04 W2=3.03 b=4.22, loss=0.80431
Epoch 258: W1=2.04 W2=3.03 b=4.23, loss=0.80231
Epoch 259: W1=2.04 W2=3.03 b=4.24, loss=0.80034
Epoch 260: W1=2.04 W2=3.03 b=4.24, loss=0.79839
Epoch 261: W1=2.04 W2=3.03 b=4.25, loss=0.79646
Epoch 262: W1=2.04 W2=3.03 b=4.26, loss=0.79456
Epoch 263: W1=2.04 W2=3.03 b=4.27, loss=0.79267
Epoch 264: W1=2.04 W2=3.03 b=4.27, loss=0.79081
Epoch 265: W1=2.04 W2=3.03 b=4.28, loss=0.78898
Epoch 266: W1=2.04 W2=3.03 b=4.29, loss=0.78716
Epoch 267: W1=2.04 W2=3.03 b=4.29, loss=0.78536
Epoch 268: W1=2.03 W2=3.03 b=4.30, loss=0.78359
Epoch 269: W1=2.03 W2=3.03 b=4.31, loss=0.78184
Epoch 270: W1=2.03 W2=3.03 b=4.31, loss=0.78011
Epoch 271: W1=2.03 W2=3.03 b=4.32, loss=0.77839
Epoch 272: W1=2.03 W2=3.03 b=4.33, loss=0.77670
Epoch 273: W1=2.03 W2=3.03 b=4.33, loss=0.77503
Epoch 274: W1=2.03 W2=3.03 b=4.34, loss=0.77338
Epoch 275: W1=2.03 W2=3.03 b=4.34, loss=0.77175
Epoch 276: W1=2.03 W2=3.03 b=4.35, loss=0.77013
Epoch 277: W1=2.03 W2=3.03 b=4.36, loss=0.76854
Epoch 278: W1=2.03 W2=3.03 b=4.36, loss=0.76696
Epoch 279: W1=2.03 W2=3.03 b=4.37, loss=0.76541
Epoch 280: W1=2.03 W2=3.03 b=4.38, loss=0.76387
Epoch 281: W1=2.03 W2=3.03 b=4.38, loss=0.76235
Epoch 282: W1=2.03 W2=3.03 b=4.39, loss=0.76085
Epoch 283: W1=2.03 W2=3.03 b=4.40, loss=0.75937
Epoch 284: W1=2.03 W2=3.03 b=4.40, loss=0.75790
Epoch 285: W1=2.03 W2=3.03 b=4.41, loss=0.75645
Epoch 286: W1=2.03 W2=3.03 b=4.41, loss=0.75502
Epoch 287: W1=2.03 W2=3.03 b=4.42, loss=0.75360
Epoch 288: W1=2.03 W2=3.03 b=4.43, loss=0.75221
Epoch 289: W1=2.03 W2=3.03 b=4.43, loss=0.75082
Epoch 290: W1=2.03 W2=3.03 b=4.44, loss=0.74946
Epoch 291: W1=2.03 W2=3.03 b=4.44, loss=0.74811
Epoch 292: W1=2.03 W2=3.03 b=4.45, loss=0.74678
Epoch 293: W1=2.03 W2=3.02 b=4.46, loss=0.74546
Epoch 294: W1=2.03 W2=3.02 b=4.46, loss=0.74416
Epoch 295: W1=2.03 W2=3.02 b=4.47, loss=0.74288
Epoch 296: W1=2.03 W2=3.02 b=4.47, loss=0.74161
Epoch 297: W1=2.03 W2=3.02 b=4.48, loss=0.74035
Epoch 298: W1=2.03 W2=3.02 b=4.48, loss=0.73911
Epoch 299: W1=2.03 W2=3.02 b=4.49, loss=0.73789
Epoch 300: W1=2.03 W2=3.02 b=4.50, loss=0.73668
Epoch 301: W1=2.03 W2=3.02 b=4.50, loss=0.73548
Epoch 302: W1=2.03 W2=3.02 b=4.51, loss=0.73430
Epoch 303: W1=2.03 W2=3.02 b=4.51, loss=0.73314
Epoch 304: W1=2.03 W2=3.02 b=4.52, loss=0.73198
Epoch 305: W1=2.03 W2=3.02 b=4.52, loss=0.73084
Epoch 306: W1=2.03 W2=3.02 b=4.53, loss=0.72972
Epoch 307: W1=2.03 W2=3.02 b=4.53, loss=0.72861
Epoch 308: W1=2.03 W2=3.02 b=4.54, loss=0.72751
Epoch 309: W1=2.03 W2=3.02 b=4.54, loss=0.72642
Epoch 310: W1=2.03 W2=3.02 b=4.55, loss=0.72535
Epoch 311: W1=2.03 W2=3.02 b=4.56, loss=0.72429
Epoch 312: W1=2.03 W2=3.02 b=4.56, loss=0.72324
Epoch 313: W1=2.03 W2=3.02 b=4.57, loss=0.72221
Epoch 314: W1=2.03 W2=3.02 b=4.57, loss=0.72119
Epoch 315: W1=2.03 W2=3.02 b=4.58, loss=0.72018
Epoch 316: W1=2.03 W2=3.02 b=4.58, loss=0.71918
Epoch 317: W1=2.03 W2=3.02 b=4.59, loss=0.71820
Epoch 318: W1=2.03 W2=3.02 b=4.59, loss=0.71722
Epoch 319: W1=2.03 W2=3.02 b=4.60, loss=0.71626
Epoch 320: W1=2.03 W2=3.02 b=4.60, loss=0.71531
Epoch 321: W1=2.03 W2=3.02 b=4.61, loss=0.71437
Epoch 322: W1=2.03 W2=3.02 b=4.61, loss=0.71345
Epoch 323: W1=2.03 W2=3.02 b=4.62, loss=0.71253
Epoch 324: W1=2.03 W2=3.02 b=4.62, loss=0.71163
Epoch 325: W1=2.03 W2=3.02 b=4.63, loss=0.71073
Epoch 326: W1=2.03 W2=3.02 b=4.63, loss=0.70985
Epoch 327: W1=2.03 W2=3.02 b=4.64, loss=0.70898
Epoch 328: W1=2.02 W2=3.02 b=4.64, loss=0.70812
Epoch 329: W1=2.02 W2=3.02 b=4.65, loss=0.70727
Epoch 330: W1=2.02 W2=3.02 b=4.65, loss=0.70643
Epoch 331: W1=2.02 W2=3.02 b=4.66, loss=0.70560
Epoch 332: W1=2.02 W2=3.02 b=4.66, loss=0.70478
Epoch 333: W1=2.02 W2=3.02 b=4.66, loss=0.70397
Epoch 334: W1=2.02 W2=3.02 b=4.67, loss=0.70317
Epoch 335: W1=2.02 W2=3.02 b=4.67, loss=0.70238
Epoch 336: W1=2.02 W2=3.02 b=4.68, loss=0.70160
Epoch 337: W1=2.02 W2=3.02 b=4.68, loss=0.70083
Epoch 338: W1=2.02 W2=3.02 b=4.69, loss=0.70007
Epoch 339: W1=2.02 W2=3.02 b=4.69, loss=0.69932
Epoch 340: W1=2.02 W2=3.02 b=4.70, loss=0.69857
Epoch 341: W1=2.02 W2=3.02 b=4.70, loss=0.69784
Epoch 342: W1=2.02 W2=3.02 b=4.71, loss=0.69711
Epoch 343: W1=2.02 W2=3.02 b=4.71, loss=0.69640
Epoch 344: W1=2.02 W2=3.02 b=4.71, loss=0.69569
Epoch 345: W1=2.02 W2=3.02 b=4.72, loss=0.69499
Epoch 346: W1=2.02 W2=3.02 b=4.72, loss=0.69430
Epoch 347: W1=2.02 W2=3.02 b=4.73, loss=0.69362
Epoch 348: W1=2.02 W2=3.02 b=4.73, loss=0.69295
Epoch 349: W1=2.02 W2=3.02 b=4.74, loss=0.69228
Epoch 350: W1=2.02 W2=3.02 b=4.74, loss=0.69163
Epoch 351: W1=2.02 W2=3.02 b=4.74, loss=0.69098
Epoch 352: W1=2.02 W2=3.02 b=4.75, loss=0.69034
Epoch 353: W1=2.02 W2=3.02 b=4.75, loss=0.68971
Epoch 354: W1=2.02 W2=3.02 b=4.76, loss=0.68908
Epoch 355: W1=2.02 W2=3.02 b=4.76, loss=0.68847
Epoch 356: W1=2.02 W2=3.02 b=4.77, loss=0.68786
Epoch 357: W1=2.02 W2=3.02 b=4.77, loss=0.68726
Epoch 358: W1=2.02 W2=3.02 b=4.77, loss=0.68666
Epoch 359: W1=2.02 W2=3.02 b=4.78, loss=0.68608
Epoch 360: W1=2.02 W2=3.02 b=4.78, loss=0.68550
Epoch 361: W1=2.02 W2=3.02 b=4.79, loss=0.68493
Epoch 362: W1=2.02 W2=3.02 b=4.79, loss=0.68436
Epoch 363: W1=2.02 W2=3.02 b=4.79, loss=0.68380
Epoch 364: W1=2.02 W2=3.02 b=4.80, loss=0.68325
Epoch 365: W1=2.02 W2=3.02 b=4.80, loss=0.68271
Epoch 366: W1=2.02 W2=3.02 b=4.81, loss=0.68217
Epoch 367: W1=2.02 W2=3.02 b=4.81, loss=0.68164
Epoch 368: W1=2.02 W2=3.02 b=4.81, loss=0.68112
Epoch 369: W1=2.02 W2=3.01 b=4.82, loss=0.68060
Epoch 370: W1=2.02 W2=3.01 b=4.82, loss=0.68009
Epoch 371: W1=2.02 W2=3.01 b=4.83, loss=0.67959
Epoch 372: W1=2.02 W2=3.01 b=4.83, loss=0.67909
Epoch 373: W1=2.02 W2=3.01 b=4.83, loss=0.67860
Epoch 374: W1=2.02 W2=3.01 b=4.84, loss=0.67811
Epoch 375: W1=2.02 W2=3.01 b=4.84, loss=0.67763
Epoch 376: W1=2.02 W2=3.01 b=4.84, loss=0.67716
Epoch 377: W1=2.02 W2=3.01 b=4.85, loss=0.67669
Epoch 378: W1=2.02 W2=3.01 b=4.85, loss=0.67623
Epoch 379: W1=2.02 W2=3.01 b=4.85, loss=0.67578
Epoch 380: W1=2.02 W2=3.01 b=4.86, loss=0.67533
Epoch 381: W1=2.02 W2=3.01 b=4.86, loss=0.67488
Epoch 382: W1=2.02 W2=3.01 b=4.87, loss=0.67445
Epoch 383: W1=2.02 W2=3.01 b=4.87, loss=0.67401
Epoch 384: W1=2.02 W2=3.01 b=4.87, loss=0.67359
Epoch 385: W1=2.02 W2=3.01 b=4.88, loss=0.67316
Epoch 386: W1=2.02 W2=3.01 b=4.88, loss=0.67275
Epoch 387: W1=2.02 W2=3.01 b=4.88, loss=0.67234
Epoch 388: W1=2.02 W2=3.01 b=4.89, loss=0.67193
Epoch 389: W1=2.02 W2=3.01 b=4.89, loss=0.67153
Epoch 390: W1=2.02 W2=3.01 b=4.89, loss=0.67114
Epoch 391: W1=2.02 W2=3.01 b=4.90, loss=0.67074
Epoch 392: W1=2.02 W2=3.01 b=4.90, loss=0.67036
Epoch 393: W1=2.02 W2=3.01 b=4.90, loss=0.66998
Epoch 394: W1=2.02 W2=3.01 b=4.91, loss=0.66960
Epoch 395: W1=2.02 W2=3.01 b=4.91, loss=0.66924
Epoch 396: W1=2.02 W2=3.01 b=4.91, loss=0.66887
Epoch 397: W1=2.02 W2=3.01 b=4.92, loss=0.66851
Epoch 398: W1=2.02 W2=3.01 b=4.92, loss=0.66815
Epoch 399: W1=2.02 W2=3.01 b=4.92, loss=0.66780
Epoch 400: W1=2.02 W2=3.01 b=4.93, loss=0.66745
Epoch 401: W1=2.02 W2=3.01 b=4.93, loss=0.66711
Epoch 402: W1=2.02 W2=3.01 b=4.93, loss=0.66677
Epoch 403: W1=2.02 W2=3.01 b=4.94, loss=0.66644
Epoch 404: W1=2.02 W2=3.01 b=4.94, loss=0.66611
Epoch 405: W1=2.02 W2=3.01 b=4.94, loss=0.66578
Epoch 406: W1=2.02 W2=3.01 b=4.95, loss=0.66546
Epoch 407: W1=2.02 W2=3.01 b=4.95, loss=0.66515
Epoch 408: W1=2.02 W2=3.01 b=4.95, loss=0.66483
Epoch 409: W1=2.02 W2=3.01 b=4.96, loss=0.66453
Epoch 410: W1=2.02 W2=3.01 b=4.96, loss=0.66422
Epoch 411: W1=2.02 W2=3.01 b=4.96, loss=0.66392
Epoch 412: W1=2.02 W2=3.01 b=4.96, loss=0.66362
Epoch 413: W1=2.02 W2=3.01 b=4.97, loss=0.66333
Epoch 414: W1=2.02 W2=3.01 b=4.97, loss=0.66304
Epoch 415: W1=2.02 W2=3.01 b=4.97, loss=0.66276
Epoch 416: W1=2.02 W2=3.01 b=4.98, loss=0.66248
Epoch 417: W1=2.02 W2=3.01 b=4.98, loss=0.66220

## **Binary Classification With Tensorflow**

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import roc_auc_score

In [0]:
!wget https://www.dropbox.com/s/v7fq3tage2au7s0/Subscribers.csv -P 'drive/My Drive/Colab Notebooks/'

--2019-12-21 09:46:14--  https://www.dropbox.com/s/v7fq3tage2au7s0/Subscribers.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.9.1, 2620:100:601f:1::a27d:901
Connecting to www.dropbox.com (www.dropbox.com)|162.125.9.1|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/v7fq3tage2au7s0/Subscribers.csv [following]
--2019-12-21 09:46:14--  https://www.dropbox.com/s/raw/v7fq3tage2au7s0/Subscribers.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com/cd/0/inline/AupV8BLrDrXRrzKaFTr3mN24flGFl6IWysmXLdPH3_zX18rRPXOMOm6nu9L-SSJCQLuOSxJ89_yVxXxrKtRkuKynyA_uN5xbYghK2DIKwEbbEg/file# [following]
--2019-12-21 09:46:15--  https://ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com/cd/0/inline/AupV8BLrDrXRrzKaFTr3mN24flGFl6IWysmXLdPH3_zX18rRPXOMOm6nu9L-SSJCQLuOSxJ89_yVxXxrKtRkuKynyA_uN5xbYghK2DIKwEbbEg/file
Resolving ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com (ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com)... 162.125.8.6, 2620:100:601f:6::a27d:906
Connecting to ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com (ucced14a27fc197428cc442a870f.dl.dropboxusercontent.com)|162.125.8.6|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 131375993 (125M) [text/plain]
Saving to: â€˜drive/My Drive/Colab Notebooks/Subscribers.csvâ€™

Subscribers.csv     100%[===================>] 125.29M  56.5MB/s    in 2.2s

2019-12-21 09:46:17 (56.5 MB/s) - â€˜drive/My Drive/Colab Notebooks/Subscribers.csvâ€™ saved [131375993/131375993]

In [0]:
data=pd.read_csv("drive/My Drive/Colab Notebooks/Subscribers.csv")

In [0]:
data.shape

(300000, 51)

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
data.head()

         V1           V2          V3  ...   V49       V50  Subscribers
0 -0.211875    743952.92   743952.92  ...  28.0   2557.22            0
1  0.241488  11295310.87  8034290.99  ...  19.0  12807.07            0
2  0.459032     20363.68   317922.94  ...   0.0     32.12            1
3  0.000000    856120.91   856120.91  ...  19.0   2029.79            0
4  8.270783    194485.64   412330.33  ...   0.0     26.95            0

[5 rows x 51 columns]

In [0]:
y=pd.get_dummies(data['Subscribers'])

In [0]:
y

        0  1
0       1  0
1       1  0
2       0  1
3       1  0
4       1  0
...    .. ..
299995  1  0
299996  1  0
299997  1  0
299998  1  0
299999  0  1

[300000 rows x 2 columns]

In [0]:
x=data.drop(['Subscribers'],axis=1)

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,
                                               random_state=2)

In [0]:
x_train

              V1         V2         V3  ...           V48    V49       V50
18736  -0.629091  228317.55  117202.89  ...    663.866667   10.0     98.30
147527  0.000000  179586.61  179586.61  ...    449.400000   19.0    449.40
1729   -0.108635  107500.00  106724.14  ...   1327.910000   32.0   1254.93
189132  0.344743  581827.88  581810.16  ...   1044.460000    0.0   1040.95
280431  0.531380  250918.54  149340.88  ...    963.563333    0.0    178.50
...          ...        ...        ...  ...           ...    ...       ...
33867   0.013980  190788.69  282149.59  ...   1373.640000   53.0    942.90
84434   0.036289  153162.20  142944.78  ...    704.186667    0.0    206.02
95816  -0.469078  566118.15   76905.23  ...  23254.696670    7.0  22931.90
203245  0.036412  286019.00  282964.79  ...    641.680000  129.0    546.92
100879  0.035484  329115.32  329115.32  ...    804.676667  342.0    866.38

[240000 rows x 50 columns]

In [0]:
x_train.reset_index(drop=True,inplace=True)
y_train.reset_index(drop=True,inplace=True)

In [0]:
st=StandardScaler()

In [0]:
st.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
x_train=pd.DataFrame(st.transform(x_train))
x_test=pd.DataFrame(st.transform(x_test))

In [0]:
x_train.shape

(240000, 50)

# simple logistic regression

In [0]:
weights = tf.Variable(tf.random.normal(shape=(50, 2), dtype=tf.float64))
biases  = tf.Variable(tf.random.normal(shape=(2,), dtype=tf.float64))

In [0]:
def logistic_regression(x):
    lr = tf.add(tf.matmul(x, weights), biases)
    return lr


def cross_entropy(y_true, y_pred):
    loss = tf.nn.softmax_cross_entropy_with_logits(labels=y_true, logits=y_pred)
    return tf.reduce_mean(loss)

def accuracy(y_true, y_pred):
    y_true = tf.cast(tf.argmax(y_true, axis=1), dtype=tf.int32)
    preds = tf.cast(tf.argmax(y_pred, axis=1), dtype=tf.int32)
    preds = tf.equal(y_true, preds)
    return tf.reduce_mean(tf.cast(preds, dtype=tf.float32))

def roc_auc(y_true,x):
    y_true = tf.cast(tf.argmax(y_true, axis=1), dtype=tf.int32).numpy()
    y_pred=tf.nn.softmax(logistic_regression(x))[:,1]
    return(roc_auc_score(y_true,y_pred))

def grad(x, y):
    with tf.GradientTape() as tape:
        y_pred = logistic_regression(x)
        loss_val = cross_entropy(y, y_pred)
    return tape.gradient(loss_val, [weights, biases]),loss_val

In [0]:
epochs=2000

In [0]:
learning_rate=0.01
loss_list=[]
for epoch in range(epochs):
  
    #rand_ind=np.random.choice(range(x_train.shape[0]),100)
    #outputs=y_train.iloc[rand_ind,:].values
    #inputs=x_train.iloc[rand_ind,:].values

  for j in range(0,np.int(x_train.shape[0]/100),100):
    outputs=y_train.iloc[j:j+100,:].values
    inputs=x_train.iloc[j:j+100].values
    
    wts,loss=grad(inputs,tf.cast(outputs,'float32'))
    
    weights.assign_sub(learning_rate*wts[0])
    biases.assign_sub(learning_rate*wts[1])
  loss_list.append(loss.numpy())
  if epoch%50==0:
    print(accuracy(y_test.values,logistic_regression(x_test.values)).numpy(),roc_auc(y_test.values,x_test.values))

0.7668167 0.6276370960006901
0.8124 0.6312980315095917
0.8174 0.6422347163848918
0.81965 0.6477188252511283
0.82095 0.6519828707353742
0.82265 0.6559096780806616
0.82376665 0.6597513352820331
0.8246833 0.663492459338098
0.8251167 0.6670485858779112
0.8254167 0.6703669699726549
0.82575 0.6733810213084395
0.8262333 0.6761831482815674
0.8268167 0.6787328121359761
0.82708335 0.6811670502397434
0.82733333 0.6835251206532553
0.8277 0.6857875052227179
0.82806665 0.6879837234461965
0.8284 0.6901353683803204
0.8287 0.6921898172068432
0.82883334 0.6941452802732251
0.82895 0.6960538177121975
0.82915 0.6978228296580813
0.8293167 0.6994573255749734
0.82946664 0.7009715923997724
0.8296667 0.7023795683215839
0.8297833 0.703652577870615
0.8298333 0.7048739805613569
0.82981664 0.7060279801702435
0.82986665 0.7070918826917303
0.82996666 0.70805712280187
0.8301333 0.7089957525762067
0.8302 0.709909198266219
0.83021665 0.7107891290002574
0.8302 0.7116323581808406
0.83026665 0.7124315748038148
0.83035 0.7131940117225679
0.8304 0.7139226328048984
0.8304667 0.7146150407760609
0.8305333 0.7152796876413918
0.83061665 0.7159224522922593

In [0]:
len(loss_list)

2000

In [0]:
wts=grad(inputs,tf.cast(outputs,'float32'))

In [0]:
wts[0][1]

# classfier with a hidden layer

In [0]:
db

NameError: ignored

In [0]:
weights_h = tf.Variable(tf.random.truncated_normal(shape=(50, 20), dtype=tf.float64))
biases_h  = tf.Variable(tf.random.truncated_normal(shape=(20,), dtype=tf.float64))

weights_o = tf.Variable(tf.random.truncated_normal(shape=(20, 2), dtype=tf.float64))
biases_o  = tf.Variable(tf.random.truncated_normal(shape=(2,), dtype=tf.float64))

In [0]:
def logistic_regression(x):
    h_o = tf.add(tf.matmul(x, weights_h), biases_h)
    h_o=tf.nn.relu(h_o)
    lr=tf.add(tf.matmul(h_o, weights_o), biases_o)
    return lr


def cross_entropy(y_true, y_pred):

    loss = tf.nn.softmax_cross_entropy_with_logits(labels=y_true, logits=y_pred)
    return tf.reduce_mean(loss)


def accuracy(y_true, y_pred):
    y_true = tf.cast(tf.argmax(y_true, axis=1), dtype=tf.int32)
    preds = tf.cast(tf.argmax(y_pred, axis=1), dtype=tf.int32)
    preds = tf.equal(y_true, preds)
    return tf.reduce_mean(tf.cast(preds, dtype=tf.float32))

def roc_auc(y_true,x):
    y_true = tf.cast(tf.argmax(y_true, axis=1), dtype=tf.int32).numpy()
    y_pred=tf.nn.softmax(logistic_regression(x))[:,1]
    return(roc_auc_score(y_true,y_pred))

def grad(x, y):
    with tf.GradientTape() as tape:
        y_pred = logistic_regression(x)
        loss_val = cross_entropy(y, y_pred)
    return tape.gradient(loss_val, [weights_h, biases_h,weights_o, biases_o])

In [0]:
epochs=2000

In [0]:
learning_rate=0.01
for epoch in range(epochs):
    #rand_ind=np.random.choice(range(x_train.shape[0]),100)
    #outputs=y_train.iloc[rand_ind,:].values
    #inputs=x_train.iloc[rand_ind,:].values
    for j in range(0,np.int(x_train.shape[0]/100),100):
      outputs=y_train.iloc[j:j+100,:].values
      inputs=x_train.iloc[j:j+100].values
    
      dw_h,db_h,dw_o,db_o=grad(inputs,tf.cast(outputs,'float32'))
    
      weights_h.assign_sub(learning_rate*dw_h)
      biases_h.assign_sub(learning_rate*db_h)
      weights_o.assign_sub(learning_rate*dw_o)
      biases_o.assign_sub(learning_rate*db_o)
    
    if epoch%50==0:
        print(accuracy(y_test.values,logistic_regression(x_test.values)).numpy(),roc_auc(y_test.values,x_test.values))

0.70678335 0.5236426474090884
0.81666666 0.5812160617110959
0.82448334 0.617173537816167
0.82706666 0.6400648076167675
0.82781667 0.6528712056074051
0.8284 0.6603768774578562
0.8283333 0.6659013922238535
0.82858336 0.6705259989662685
0.82876664 0.674607268369785
0.8290667 0.6782006308189156
0.82918334 0.6814528514983288
0.82923335 0.6844973865172532
0.82948333 0.6872240667409417
0.82948333 0.6897981966695129
0.82953334 0.692128435641504
0.8298333 0.6943590636472263
0.83033335 0.6965086747076668
0.8305167 0.6986112116542422
0.83096665 0.7006845690585847
0.8308833 0.7025755186676821
0.8312 0.7044123840392098
0.8311667 0.7062623416178018
0.83131665 0.7081042174303107
0.83166665 0.7098055302983135
0.8318167 0.7115902808315732
0.83195 0.7133802362058447
0.83206666 0.715086701163092
0.8324 0.7167064480766819
0.83243334 0.7183778057560993
0.83273333 0.719934509423689
0.8333167 0.7214643008981422
0.83353335 0.7228720013385038
0.83393335 0.7240514722357798
0.83426666 0.7249951954862869
0.83425 0.725887159484511
0.83455 0.7265280817310713
0.83495 0.7272745407257278
0.83531666 0.7281619553724896
0.8354167 0.7289430625092262
0.83561665 0.7294625013439001

In [0]:
%tensorflow_version

Currently selected TF version: 1.x
Available versions:
* 1.x
* 2.x